.create {
  max-width: 30%;
  width: 100%;
  padding: 5px;
  height: auto;
}
.create-in {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  background: #ffffff;
}
.create-in h3 {
  margin-bottom: 10px;
  font-weight: 500;
}
.create-in .for {
  margin-top: 20px;
}
.create-in .create-elmnt {
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.create-in .create-elmnt button {
  background-color: #623ce7;
  border: none;
  outline: none;
  border-radius: 3px;
  max-width: 80px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.available {
  max-width: 70%;
  width: 100%;
  padding: 5px;
  height: auto;
}
.available-in {
  border-radius: 8px;
  min-height: 200px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  background: #ffffff;
}
.create-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.available h3 {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}
.available-search {
  max-width: 300px;
  width: 100%;
  padding: 0 20px;
}
.available-search input {
  height: 30px;
  border: none;
  outline: none;
  background: #f6f7fc;
  padding: 0 0 0 15px;
  border-radius: 5px;
  margin-left: auto;
}
.Aud-date {
  background: #f6f7fc;
  margin-right: 15px;
  max-width: 175px;
  width: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audit-table .available-search {
  display: flex;
  max-width: 300px;
}
.Aud-date span {
  color: #333333;
  font-size: 11px;
}
.available-search button {
  background: #623ce7;
  border: none;
  outline: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  color: white;
  font-size: 12px;
}

.table-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-size: 14px;
}
.edit,
.delete {
  border-radius: 8px;
  width: 50px;
  height: 27.5px;
  border: none;
  color: white;
  cursor: pointer;
}

.edit {
  background: #ffaf2a;
}
.delete {
  width: 70px;
  margin-left: 10px;
  background: #ff4267;
}

.table-end {
  background: #f6f7fc;
  display: flex;
  height: 40px;
  border-radius: 0 0 25px 25px;
  position: relative;
}
.elmnts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
  width: 100%;
  position: absolute;
  right: 10%;
  top: 23%;
}
.elmnts span {
  color: #333333;
  font-size: 15px;
}

.page-change button {
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffffff;
  border-radius: 3px;
}

.page-change {
  max-width: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#list {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  outline: none;
  border: none;
  height: 100%;
  padding: 0 15px;
  background: #f3f5f9;
  border-radius: 5px;
}
.audit-table {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

table {
  margin-top: 30px;
  font-size: 12px;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  background-color: #f6f7fc;
  border-radius: 30px 30px 0 0;
}

table thead th {
  color: #623ce7;
  font-size: 17px;
  font-weight: 500;
}
table td,
table th {
  text-align: center;
  padding: 10px;
}
table tbody tr:nth-child(odd) {
  background-color: white;
}
table td {
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.blue i {
  color: rgb(70, 181, 255);
}
.red i,
.blue i {
  font-size: 16px;
  margin-right: 2px;
}
.red i {
  color: red;
}
.setting-table table tr th:nth-child(2),
.setting-table table tr td:nth-child(2) {
  padding: 0;
}

.section-loading {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-loading .load {
  height: 20px;
  width: 20px;
  position: relative;
}
.section-loading .load:before,
.section-loading .load:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  border: 3px solid #623ce7;
  animation: animate 3s linear infinite;
}
.section-loading .load:after {
  animation-direction: reverse;
}

.loaderContainer {
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animate {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .create {
    max-width: 97.5%;
    margin: auto;
  }
  .create-in .create-header h3 {
    font-size: 15px;
  }
  .available {
    max-width: 97.5%;
    margin: auto;
  }
  .available-in .create-header h3 {
    font-size: 15px;
    width: 200px;
  }
  .available-search {
    max-width: 100px;
    padding: 0;
  }
  .available-search input {
    max-width: 100px;
    font-size: 10px;
  }
  table {
    margin-top: 25px;
    border-radius: 15px 15px 0 0;
  }
  table thead th {
    font-size: 12px;
  }
  table td,
  table th {
    padding: 5px;
  }
  table td {
    font-size: 10px;
    font-weight: 400;
  }
  .delete {
    border-radius: 3px;
    height: 25px;
    width: 40px;
    margin: 0;
    font-size: 8px;
  }
  .table-end {
    height: 25px;
    border-radius: 0 0 15px 15px;
  }
  .elmnts {
    max-width: 100px;
  }
  .elmnts span {
    font-size: 12px;
  }
  .page-change button {
    height: 15px;
    width: 15px;
    font-size: 9px;
  }
  .page-change {
    max-width: 40%;
  }
  .audit-table {
    padding: 10px;
  }
  .audit-table .create-header h3 {
    font-size: 14px;
  }
  .audit-table .available-search {
    max-width: 200px;
    justify-content: space-between;
  }
  .audit-table .available-search button {
    width: 60px;
    border-radius: 3px;
  }
  .Aud-date {
    max-width: 125px;
    height: 30px;
  }
  .Aud-date span {
    font-size: 8px;
  }
}
